services:
  dev:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
        PHP: '${PHP_VERSION:-7.4}'
    image: modern-laravel-factories
    environment:
        WWWUSER: '${WWWUSER}'
    volumes:
        - '.:/var/www/html'
