parameters:
    level: 8
    paths:
        - src
        - tests/Database/Fixtures
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#1 \$source of method Illuminate\\Support\\Collection::concat\(\) expects Traversable, array<[^,]+, [^>]+> given\.#'
        - '#Call to function method_exists\(\) with [\w\\]+ and ''\w+'' will always evaluate to true\.#'
