name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Build (${{matrix.name}})
    runs-on: ubuntu-latest
    strategy:
      matrix: &versions
        include:
          # Laravel 5.1 (LTS)
          - { name: 'PHP 5.5 / Laravel 5.1', php: '5.5', laravel: '5.1.0' }
          - { name: 'PHP 5.6 / Laravel 5.1', php: '5.6', laravel: '5.1.0' }
          - { name: 'PHP 7.0 / Laravel 5.1', php: '7.0', laravel: '5.1.0' }
          - { name: 'PHP 7.1 / Laravel 5.1', php: '7.1', laravel: '5.1.0' }
          - { name: 'PHP 7.2 / Laravel 5.1', php: '7.2', laravel: '5.1.0' }
          - { name: 'PHP 7.3 / Laravel 5.1', php: '7.3', laravel: '5.1.0' }
          - { name: 'PHP 7.4 / Laravel 5.1', php: '7.4', laravel: '5.1.0' }
          - { name: 'PHP 8.0 / Laravel 5.1', php: '8.0', laravel: '5.1.0' }
          - { name: 'PHP 8.1 / Laravel 5.1', php: '8.1', laravel: '5.1.0' }
          - { name: 'PHP 8.2 / Laravel 5.1', php: '8.2', laravel: '5.1.0' }
          - { name: 'PHP 8.3 / Laravel 5.1', php: '8.3', laravel: '5.1.0' }
          - { name: 'PHP 8.4 / Laravel 5.1', php: '8.4', laravel: '5.1.0' }

          # Laravel 5.2
          # - { name: 'PHP 5.5 / Laravel 5.2', php: '5.5', laravel: '5.2.0' }
          # - { name: 'PHP 5.6 / Laravel 5.2', php: '5.6', laravel: '5.2.0' }
          # - { name: 'PHP 7.0 / Laravel 5.2', php: '7.0', laravel: '5.2.0' }

          # Laravel 5.3
          # - { name: 'PHP 5.6 / Laravel 5.3', php: '5.6', laravel: '5.4.0' }
          # - { name: 'PHP 7.0 / Laravel 5.3', php: '7.0', laravel: '5.4.0' }

          # Laravel 5.4
          # - { name: 'PHP 5.6 / Laravel 5.4', php: '5.6', laravel: '5.4.0' }
          # - { name: 'PHP 7.0 / Laravel 5.4', php: '7.0', laravel: '5.4.0' }
    steps:
      - &checkout
        name: Checkout Code
        uses: actions/checkout@v4

      - &php
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, dom, curl, libxml, mbstring, pdo, sqlite, pdo_sqlite
          coverage: none

      - &composer
        name: Install Composer Dependencies
        run: composer require illuminate/database:~${{ matrix.laravel }} --no-interaction --no-progress --ansi

      - name: Run PHP Lint
        if: matrix.php == '5.5' || matrix.php == '5.6' || matrix.php == '7.0'
        run: composer test:lint:legacy

      - name: Run Static Analysis
        if: matrix.php != '5.5' && matrix.php != '5.6' && matrix.php != '7.0'
        run: |
          composer require phpstan/phpstan --dev
          composer test:static

      - name: Run Test Suite
        run: vendor/bin/phpunit --no-coverage
