name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Build (${{matrix.name}})
    runs-on: ubuntu-latest
    strategy:
      matrix: &versions
        include:
          # Laravel 6 (LTS)
          - { name: 'PHP 8.0 / Laravel 6.x', php: '8.0', laravel: '^6.0' }
          - { name: 'PHP 8.1 / Laravel 6.x', php: '8.1', laravel: '^6.0' }
          - { name: 'PHP 8.2 / Laravel 6.x', php: '8.2', laravel: '^6.0' }
          - { name: 'PHP 8.3 / Laravel 6.x', php: '8.3', laravel: '^6.0' }
          - { name: 'PHP 8.4 / Laravel 6.x', php: '8.4', laravel: '^6.0' }

          # Laravel 7
          - { name: 'PHP 8.0 / Laravel 7.x', php: '8.0', laravel: '^7.0' }
          - { name: 'PHP 8.1 / Laravel 7.x', php: '8.1', laravel: '^7.0' }
          - { name: 'PHP 8.2 / Laravel 7.x', php: '8.2', laravel: '^7.0' }
          - { name: 'PHP 8.3 / Laravel 7.x', php: '8.3', laravel: '^7.0' }
          - { name: 'PHP 8.4 / Laravel 7.x', php: '8.4', laravel: '^7.0' }
    steps:
      - &checkout
        name: Checkout Code
        uses: actions/checkout@v4

      - &php
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, dom, curl, libxml, mbstring, pdo, sqlite, pdo_sqlite
          coverage: none

      - &composer
        name: Install Composer Dependencies
        run: composer require illuminate/database:${{ matrix.laravel }} --no-interaction --no-progress --ansi

      - name: Run PHP Lint
        if: matrix.php == '5.5' || matrix.php == '5.6' || matrix.php == '7.0' || matrix.php == '7.1'
        run: composer test:lint:legacy

      - name: Run Static Analysis
        if: matrix.php != '5.5' && matrix.php != '5.6' && matrix.php != '7.0' && matrix.php != '7.1'
        run: |
          composer require phpstan/phpstan --dev
          composer test:static

      - name: Run Test Suite
        run: vendor/bin/phpunit --no-coverage
