name: Tests

on:
  push:
  pull_request:

jobs:
  test-suite:
    name: Test Suite (${{matrix.name}})
    runs-on: ubuntu-latest
    strategy:
      matrix: &versions
        include:
          - { name: 'PHP 5.6 / Laravel 5.4', php: '5.6', laravel: '5.4.0' }
    steps:
      - &checkout
        name: Checkout Code
        uses: actions/checkout@v4

      - &php
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, dom, curl, libxml, mbstring, pdo, sqlite, pdo_sqlite
          coverage: none

      - &composer
        name: Install Composer Dependencies
        run: composer require illuminate/database:~${{ matrix.laravel }} --no-interaction --no-progress --ansi

      - name: Run Test Suite
        run: vendor/bin/phpunit --no-coverage

  static-analysis:
    name: Static Analysis (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix: *versions
    steps:
      - *checkout
      - *php
      - *composer

      - name: Run PHP Lint
        if: matrix.php == '5.6'
        run: composer test:lint:legacy

      - name: Run Static Analysis
        if: matrix.php != '5.6'
        run: composer test:static
